body {
  background-color: lavender
    ;
}

ul.a {
  list-style-type: circle;
}



h1{font-family: 'IBM Plex Sans Thai', sans-serif;
  
}
p{font-family: 'Trirong', serif;

}
h3{font-family: 'Trirong', serif;
  
}


